.About main p {
    color: white;
    text-align: justify;
    width: 90%;
    margin: 10px auto;
    font-size: 24px;
}

.About main a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.About main a:hover {
    text-decoration: underline;
}
